# WhatsApp Cloud API Settings
WHATSAPP_TOKEN="EAAFClRyMXYoBRNXqzeZCgg9mrPGwLsrqaRNjdIf4m2KVeAkxDID2Lc4QjYvefYBMtZBwkzTEId8d0ZA6Wg7zx1yWZAhZBauJ10EoDfy9hTk68FPSz8hbPtmP93DlAhe3zCDDJm8QXBX8fd9vqpg2mB48SzLeU1TiISfXl6oIXTLKt6dqZBB4jFOS2rc8Xf3X58w7wwWk4jSBUPEhq5xwe3GVrXpx50hZCIILZBZCkGiX3yagH9J67bICgZBzYnafQz2PJAAwy4IfGuieYDX6R6oY0UsLrE"
WHATSAPP_PHONE_NUMBER_ID="y101362852599871"
WEBHOOK_VERIFY_TOKEN="mysecrettoken123"
APP_SECRET="y259f81ec876fd0b5a04861fc33b8c8b7"

# Boilerplate Settings
API_KEY="mysecretAPIKEY123"
LOG_LEVEL="INFO"
RELAY_API_URL="your_relay_api_url"
RELAY_API_KEY="your_relay_api_key"
RELAY_TEMPLATE_NAME="your_template_name"
SERVER_URL="your_server_url"
USE_PLAYWRIGHT="false"
